<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
    layout:decorate="~{layout}"> 
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <title>Formulario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body layout:fragment="body">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <h1> Usuario</h1> <br>
        <h5>Información de usuario</h5>
        <hr>

        <div class="container">
            <form th:action="@{/usuario/addusuario}" method="post" th:object="${usuario}">
                <div class="row">
                    <div class="col-md-3">
                        <label  class="form-label">Nombre: </label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-person-circle"></i></div>
                            <input type="text" class="form-control" placeholder="Nombre" name="nombre"  th:field="*{nombre}">
                        </div></div>

                    <div class="col-md-3">
                        <label  class="form-label">Usuario </label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text" class="form-control" name="username" placeholder="username" th:field="*{username}">
                        </div> </div>

                    <div class="col-md-3">
                        <label  class="form-label">Apellido Paterno </label>
                        <input type="text" class="form-control" placeholder="Nombre" name="apellidopaterno" th:field="*{apellidopaterno}">
                    </div>
                    <div class="col-md-3">
                        <label  class="form-label">Apellloido Materno </label>
                        <input type="text" class="form-control" placeholder="Apellido Materno" name="apellidomaterno" th:field="*{apellidomaterno}">
                    </div>
                </div>

                <div class="row"> 
                    <div class="col-md-3">
                        <label class="form-label">Correo</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-envelope"></i></div>
                            <input type="email" class="form-control" placeholder="correo@correo.com" name="email" th:field="*{email}">
                        </div></div>
                    <div class="col-md-3">
                        <label  class="form-label">Contraseña</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                            <input type="password" class="form-control" name="password" th:field="*{password}">
                        </div></div>
                    <div class="col-3">
                        <label  class="form-label">Fecha de Nacimiento</label>  
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-calendar-range"></i></div>
                            <!-- formato de thymeleaf-->
                            <input type="date" class="form-control" name="fechanacimiento" th:field="*{fechanacimiento}" >
                        </div>     </div>

                    <div class="col-md-2">
                        <label  class="form-label">Sexo </label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-gender-ambiguous"></i></div>
                            <input type="text" class="form-control" placeholder="F o M" name="sexo" th:field="*{sexo}">
                        </div></div>
                </div>

                <div class="row"> 
                    <div class="col-md-3">
                        <label class="form-label">Teléfono </label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-telephone"></i></div>
                            <input type="text" class="form-control" placeholder="Teléfono" name="telefono" th:field="*{telefono}">
                        </div></div>
                    <div class="col-md-3">
                        <label  class="form-label">Celular </label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-phone-fill"></i></i></div>
                            <input type="text" class="form-control" placeholder="Celular" name="celular" th:field="*{celular}">
                        </div></div>
                    <div class="col-md-3">
                        <label  class="form-label">CURP </label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-file-earmark-break"></i></div>
                            <input type="text" class="form-control" placeholder="CURP" name="curp" th:field="*{curp}">
                        </div></div>
                </div>
                <br/><br/>
<!--                <div class="position-absolute bottom-50 end-50">-->
                    <button type="submit" class="btn btn-primary ">Guardar</button>
<!--                </div>-->

            </form>
        </div>


    </body>
</html>
