<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 
    <body layout:fragment="body">

        <div class="container">

            <h1>Lista de Tipo de Inmuebles </h1>
            <div class="row">
                <!--                <a th:href="@{/usuario/add}" class="btn btn-success col-md-4">Agregar</a>-->
                <a th:href="@{/inmobiliaria/form/{idtipoinmueble}(idtipoinmueble=0)}" class="btn btn-success">Agregar</a>
            </div>
            <br><br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Eliminar</th>
                        <th scope="col">IdTipoInmueble</th>
                        <th scope="col">Nombre Tipo de Inmueble</th>
                        <th scope="col">Actualizar</th>
                        <th scope="col">idServicio</th>
                        <th scope="col">Servicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tipoinmueble: ${tipoInmuebles}">
                        <td>
                            <a th:href="@{/inmobiliaria/eliminar/{idtipoinmueble}
                               (idtipoinmueble=${tipoinmueble.idtipoinmueble})}" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                        <td th:text="${tipoinmueble.idtipoinmueble}"></td>
                        <td th:text="${tipoinmueble.nombre}"></td>

                        <td>
                            <a th:href="@{/inmobiliaria/editartipoInmueble/{idtipoinmueble}(idtipoinmueble=${tipoinmueble.idtipoinmueble})}" class="btn btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </td>
                    <tr th:each="servicio: ${serviciods} "></tr>
                        <td th:tex="${servicio}"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>
